h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  color: #fbccc7;
}

h3 {
  font-family: 'Roboto', ;
  font-size: 2vh;
  color: #6986b3;
}

body{
  background-color: #7856a4;
}

#time {
  position: absolute;
  top: 45%;
  left: 10%;
}

#homenavBar{
  width: 600px;
  margin-top: 10px;
  margin: auto;
  position: absolute;
  top: 10px;
  height: 200px;
  left: 168px;
  text-align: center;
}

.button{
  float: left;
  width: 160px;
  height: 50px;
  background: #6986b3;
  text-align: left;
  margin-top: 10px;
}

#three {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 10%; */
  /* left: 10%; */
  border-radius: 10px;
}

#four {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 10%; */
  /* left: 18.25%; */
  border-radius: 10px;
}

#five {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 10%; */
  left: 2.5%;
  border-radius: 10px;
}

#six {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 68.5%; */
  left: 2.5%;
  border-radius: 10px;
}

#seven {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 10%; */
  left: 5%;
  border-radius: 10px;
}

#eight {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 68.5%; */
  left: 5%;
  border-radius: 10px;
}

#nine {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 10%; */
  left: 7.5%;
  border-radius: 10px;
}

#zero {
  position: relative;
  background-color: #fbccc7;
  width: 205px;
  height: 205px;
  padding: 10px;
  /* top: 68.5%; */
  left: 7.5%;
  border-radius: 10px;
}

.top {
  margin-top: 6.5%;
  width: 975px;
  height: 225px;
  margin-left: 10%;
  /* background-color: blue; */
  float: left;
  overflow: hidden;
  display: flex;
  align-content: center;
}

.bottom {
  margin-top: 12.5%;
  width: 975px;
  height: 225px;
  margin-left: 20%;
  /* background-color: blue; */
  float: left;
  overflow: hidden;
  display: flex;
  align-content: center;
}
