h1 {
  font-family: 'Playfair Display', serif;
  font-size: 10vh;
  color: #c0a5c2;
}

.blueText{
  color: #6986b3;
}

body{
  background-color: #fbccc7;
}

.box{
  position: relative;
  width: 800px;
  height: 30vh;
  background: pink;
  margin: auto;
  margin-top: 10vh;
  overflow: auto;
}

.widthBox{
  width: 70%;
  margin: auto;
  height: 300px;
  background: red;
}

.smallBox{
  width: 70%;
  height: 100px;
  background: purple;
  margin: auto;
}
