body{
  background-color: #fbccc7;
  margin: 0px 0px 0px 0px;
}

.mySlides {display:none;}

#main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-position: center; */
  width: 91%;
  /* background-size: cover; */
}
