body  {
  background-image: url("stars.jpg");
  background-size: cover;
  background-color: black;
  margin: 20px 0px 0px 0px;
}

.hub {
  text-align: center;
  bottom: 5%;
  margin: auto;
  display: block;
  position: absolute;
  left: 47.25%;
}

img {
  display: block;
  width: 85%;
  margin: auto;
}

.hub button {
  height: 45px;
  width: 50px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
}

.hub .buttonlight {
  background-color: black;
  color: #008CBA;
  border: 2px solid #008CBA;
}

.hub .buttonlight:hover {
  background-color: #008CBA;
  color: white;
}

.hub .buttondark {
  background-color: black;
  color: #f44336;
  border: 2px solid #f44336;
}

.hub .buttondark:hover {
  background-color: #f44336;
  color: white;
}

#photo1 {
  position: absolute;
  z-index: 15;
}

#photo2 {
  position: absolute;
  z-index: 14;
}

#photo3 {
  position: absolute;
  z-index: 13;
}

/* light */
#photo4 {
  position: absolute;
  z-index: 12;
}

#photo5 {
  position: absolute;
  z-index: 11;
}

#photo6 {
  position: absolute;
  z-index: 10;
}

#photo7 {
  position: absolute;
  z-index: 9;
}

#photo8 {
  position: absolute;
  z-index: 8;
}

#photo9 {
  position: absolute;
  z-index: 7;
}

/* dark */
#photo10 {
  position: absolute;
  z-index: 6;
}

#photo11 {
  position: absolute;
  z-index: 5;
}

#photo12 {
  position: absolute;
  z-index: 4;
}

#photo13 {
  position: absolute;
  z-index: 3;
}

#photo14 {
  position: absolute;
  z-index: 2;
}

#photo15 {
  position: absolute;
  z-index: 1;
}
/* .mySlides {display:none;}

#main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  width: 91%;
  background-size: cover;
} */
